:root {
    --color-darkcyan: hsl(185, 75%, 39%);
    --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --color-dark-grayish-blue: hsl(227, 10%, 46%);
}

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background: url(https://raw.githubusercontent.com/nurularifin83/Profile-card-component/d230f2ae4f90e4b4c4cd012fbe49847c9710d52b/src/media/patterns/bg-pattern-bottom.svg) bottom -600px right no-repeat, url(/src/media/patterns/bg-pattern-top.svg) top -500px left -200px no-repeat;
    background-color: var(--color-darkcyan);
}

.card .mt-n20 img {
    border-radius: 50%;
    transform: translateY(-50%);
}

/* For mobile */
@media only screen and (max-width:600px)  {
    body {
        font-family: 'Kumbh Sans', sans-serif;
        background: url(/src/media/patterns/bg-pattern-bottom.svg) bottom -600px right no-repeat, url(/src/media/patterns/bg-pattern-top.svg) top -500px left -200px no-repeat;
        background-color: var(--color-darkcyan);
        background-size: cover;
    }
}
 
 .footer a{
     text-decoration: none;
     color: #ffffff;
 }

.btnlink-custome:hover {
    text-decoration: underline;
}
